
.menu-container{
    background-color: #f7f7f7;
    width: 20%;
    float: left;
    height: 100%;
    display: grid;
    grid-template-rows: 125px 1fr;
}
.menu-container .logout-button{
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 2px;
    background-color: white;
    color: #9f9f9f;
    font-size: 24px;
    border: 0px;
    box-shadow: 10px 10px 10px #707070;
    
}
.menu-heading {
    padding: 50px 25px;
}

.menu-heading img{
    width: 100%;
}

.menu-option-items{
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 1fr 50px 50px 100px;
}

.menu-heading-container img{
    height: 16px;
    width: 22px;
    margin-top: 23px;
}
.menu-heading-container{
    display: flex;
    padding-left: 20px;
}

.menu-item{
    color: #707070;
    padding-left: 10px;
    font-size: 24px;
    padding-top: 17px;
}
.menu-heading-container.active{
    background-color: white;
}
