<!DOCTYPE html>
<html>
    <head>
        <style>
            .icon-style{
                height: 30px;
                width:325px;
                background-color: #F7F7F7;
                color: #707070;
                text-align: center;
                font-size: 24px;
            }
            .icon-style .green{
                color: #cc4f4e;
            }
        </style>

    </head>
    <body>
        <div class="icon-style">
            SMART FACTORY <span class="green"> FABRICS</span>
        </div>
    </body>
</html>