
.speedoMeter-blue-bin {
  height: 150px;
  width: 175px;
  background-color: #222f47;
  border-radius: 50%;
  border: 10px solid #3E4E6C;
  padding: 12px;
  margin: 0 auto
}

.speedoMeter-blue-bin p {
  color: white;
  text-align: center;
  margin: 0
}

.hopperView .data-container{
  grid-template-rows: 75px 1fr 32%;
  grid-gap: 20px;
}

.hopper-data-container{
  padding-top: 20px;
  border-top: 1px solid #3E4E6C;
  display: grid;
  grid-template-columns: 33% 20% 30% 1fr;
  grid-column-gap: 20px;
}

.hopper-data-container .graph-container,
.hopper-data-container .gauge-container,
.hopper-data-container .hopper-scale-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

.hopper-step-graph,.hopper-gauge,.hopper-scale{
  background-color: #2F3B52;
}

.hopper-rate-heading{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

.hopper-rate-heading .graph-heading{
  padding: 15px;
}

.papa-maa{
  width: 75%
}