.data-container.labor-analytics-view{
display: grid;
grid-template-rows: 180px 1fr 1fr;
grid-gap: 2%;
padding: 20px;
height: calc( 100vh - 75px);

}
.labor-correlation-heading,
.labor-correlation-scrap,
.labor-correlation-setpoint,
.labor-correlation-oee,
.labor-correlation-assessment{
    background-color: #2F3B52;
    border-radius: 10px;
}
.labor-correlation-heading{
    font-size: 22px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.labor-correlation-title{
    background-color: #172030;
    padding: 10px;
}
.labor-correlation-details {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-style: italic;
    border: 1px solid;
    margin-top: 10px;
}
.labor-correlation-table,
.labor-correlation-graph {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    
}
.labor-graph-image img{
    width: 100%;
}
.labor-graph-heading {
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
