.data-container{
    .plant-header-label{
        display: grid;
        grid-template-columns: 23.8% 23.8% 23.8% 23.8%;
        grid-gap: 19px;
    }
    .line-view-container{
        display: grid;
        grid-template-columns: 49% 49.2%;
        grid-gap: 19px;
    }
    .line-details{
        background-color: $card-bg-color;
        padding: 20px 20px 50px;
        
    }
    .plant-view-heading {
        color: $font-color;
        font-size: 18px;
    }
    &.plant-view{
        height: 100vh;
          display: grid;
          grid-template-rows: 170px 1fr 1fr;
          grid-gap: 20px ;
          padding: 20px;
      }
      button.refresh-button {
        background-color: #05C985;
        border: none;
        border-radius: 10px;
        float: right;
        margin-top: 20px;
    }
    button.refresh-button {
        &.auto-refresh{
            background-color: #EE423D;
        }
    }

}
