.ambient-box {
    width: 100%;
    padding: 0px 10px 0 10px;
    background-color: $card-bg-color;
    height: 330px;
    color: $font-color;
}
.ambient-heading {
    height: 21px;
    width: 90%;	
    color: black;	
    font-family: Roboto;	
    font-size: 18px;	
    font-weight: bold;	
    line-height: 21px;
}
.description-value {
    height: 44px;
    width: 98%;
    background-color: $base-color;
    display: flex;
    margin-top: 15px;
    padding: 10px;
    color: $font-color;
    border-radius: $border-radius;

}
.description-heading {
   
    padding-top: 5px;
    font-size: 16px;
    border:0;
    width: 85.7%;
}
 .value-heading {
  
    text-align: right;
    padding-top: 5px; 
    float:right;

} 
.temperature-humidity-pressure {
    height: 121px;	
    width: 98%;	
    background-color: $base-color;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    color: $font-color;
    border-radius: $border-radius;
}
.temperature, .humidity, .pressure  {
    display: flex;
    
    font-size: 16px;
    padding-top: 16px;
    
}
.temp-heading, .humid-heading, .pressure-heading {
    width:60%
}
.temp-value, .humid-value , .pressure-value{
    width: 40%;
    text-align: right;
}
