
.tkey-button.reset{
    background-color: #1f8efa;
    width: 100%;
    color: white;
    border: none;
    height: 30px;
    border-radius:5px; 
}

.tkey-button{
    background-color: rgb(23, 32, 48);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    max-width: 175px;
    height: 45px;
    width: 100%;
}