.defect-container-details {
    display: grid;
    grid-template-columns: 42% 50% 1fr;
    height: 27px;
    background-color: #707070;
    margin-top: 30px;
    color: white;
}
.defect-width-value {
    background-color: #05C985;
    height: 27px;
}