.data-container.rate-opti {
    grid-template-rows: 180px 1fr 1fr;
    grid-gap: 2%;
    display: grid;
    height: calc( 100vh - 75px);
    padding: 20px;
}

.pred-main-details {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-style: italic;
    border: 1px solid;
    margin-top: 10px;
}

.pred-main-graph {
    display: grid;
    grid-template-columns: 39% 59%;
    grid-gap: 2%;
}

.pred-main-table {
    display: grid;
    grid-template-columns: 59% 39%;
    grid-gap: 2%;
}


.pred-main .sp-table-container:first-child {
    font-weight: bold;
}
.pred-graph-img img{
    width: 100%;
    height: 60%;
}
.pred-main-graph-image{
    padding: 2%;

}
.pred-main-summary {
    padding: 3% 5%;
}
.pred-summary-details {
    display: flex;
}
.pred-summary-details .sp-table-container{
    color: black;
    width: 50%;
    margin: 0;
}
.rate-opti .sp-table-value.summary-title{
    color: white;
    text-align: center;
    display: flex;
}
.rate-opti-title{
    width:25%;
}