
.tkey-dropdown{
    background-color: #707070;
    font-size: 18px;
    color: white;
    padding-left: 8px;
    text-align: left;
    padding-top: 15px;
    position: relative;
  }
.tkey-dropdown .dropdown-options-container{
    display: none;
}
.tkey-dropdown .show{
    display: block;
    background-color: #707070;
    position: absolute;
    left: 0;
    top:50px;
    width: 100%;
}
.dropdown-options{
    height: 50px;
    border: 1px solid;
    padding: 12px;
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3.5px;
    margin-right: 20px;
    float : right;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}