.plant-asset-container {
    background-color: $card-bg-color;
    width: 100%;
    display: flex;
    height: 100%;
}
.plant-asset-container .line-asset-container{
    display: flex;
    background-color: $card-bg-color;
    width: 100%;
    padding: 0 0 0 15px;
    height: 100%;
}
.plant-asset-heading {
    height: 20%;
    display: flex;
    align-items: center;
    color: $font-color;
    font-size: 18px;
}
.plant-asset-heading-container {
    width: 25%;
}
.line-asset-details {
    width: 50%;
    text-align: center;
    color: white;
    background-color: #172030;
    margin: 20px auto; 
    height: 100%;
    border-radius: 8px;
}
.line-asset-status {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-asset-status.line-heading{
    text-align: center;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &.red{
        background-color: #EE423D;
    }
    &.green{
        background-color: #05C985;
    }
    &.orange{
        background-color: orange;
    }
}
.line-asset-div {
    height: 32px;
    width: 32px;
    background-color: #05C985;
    margin: 0 auto;
    border-radius: 8px;
}
.line-asset-data-container{
    height: 80%;
}
.plant-asset-container {
    .asset-container {
        height: 100%;
        width: auto;
    }
}
