.label-container{
    background-color: #2F3B52;
    color: white;
    padding: 10px 0 20px 20px;
}
.label-heading {
    height: 20%;
    font-size: 20px;
}
.label-value{
    font-size: 40px;
}
.label-heading,.label-value{
    padding-top: 15px;
}