.mix-ratio-header {
    display: grid;
    grid-template-columns: 50% 1fr;
    height: 19px;
    color: white;
    background-color: #2F3B52;
    font-size: 16px;
    margin-bottom: 10px;
}
.ratio-value {
    text-align: right;
}
.mix-ratio-width {
    height: 81px;
    display: flex;
}
.mix-item-container {
    background-color: #2F3B52;
    margin: 10px 0;
}
.mix-ratio-width .blue{
background-color: #1F8EFA;
}
.mix-ratio-width .red{
background-color: #C31FFA;
}
.mix-ratio-width .green{
   background-color: #05C985
}