.tkey-header{
    @include page-heading();
    .page-dropdown-heading {
        color: black;
        font-size: 22px;
        /* float: right; */
        display: flex;
        align-items: center;
        margin-left: auto;
    }
  }
.data-container{
    .finished-goods-container-heading{
        color: $font-color;
        margin-top: 16px;
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 12px;
    }
    .finished-graph-container{
        display: grid;
        grid-template-columns: 29% 29% 1fr;
        grid-column-gap: 20px;
        
       
    }
    
    .cases-graph {
        background-color: $card-bg-color;
        padding: 0 15px 15px 15px;
    
    }
    .cases-graph canvas{
        margin-top:15px;
    }
    .finished-goods-rate-heading {
        color: $font-color;
        font-size: 18px;
        font-weight: bold;
        margin-top: 15px;
    }
    .mix-ratio-container {
        background-color: $card-bg-color;
        padding: 0 15px;
    }
    &.finished-view{
    height: calc(100vh - 75px);
      display: grid;
      grid-template-rows:1fr 1fr;
      grid-gap: 20px ;
      padding: 20px;
    }
}
