*{
    box-sizing: border-box;
}
.finished-goods-container-heading{
    color: black;
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 12px;
}
.finished-graph-container{
    display: grid;
    grid-template-columns: 29% 29% 1fr;
    grid-column-gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #3E4E6C;
}

.cases-graph {
    background-color: #2F3B52;
    padding: 0 15px 15px 15px;

}
.cases-graph canvas{
    margin-top:15px;
}
.finished-goods-rate-heading {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.mix-ratio-container {
    background-color: #2F3B52;
    padding: 0 15px;
}