.sp-table-container {
    text-align: center;
    margin-top: 15%;
    color: black;
    font-size: 22px;
}
.sp-table-value {
    padding: 0.1vh;
    background-color: $base-color;
    border: 1px solid white;
    color: white;
}
.sp-table-value img{
    width: 100%;
}
.sp-table-value.sp-image{
    padding: 0px;
}