.sp-table-container {
    text-align: center;
    margin-top: 15%;
}
.sp-table-value {
    padding: 15px;
    background-color: #172030;
    border: 1px solid;
}
.sp-table-value img{
    width: 100%;
}
.sp-table-value.sp-image{
    padding: 0px;
}