.data-container.analytics-view{
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-gap: 5%;
}
.analytics-container {
    background-color: white;
   padding: 20px;
   color: black;
   font-size: 22px;
}
.analytics-heading {
    height: 7%;
    display: flex;
    align-items: center;
    background-color: $base-color;
    padding: 20px;
}
.analytics-header-contaier {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 20px 45px;
    border-bottom : 2px solid white;
}

.analysis-row-contaienr {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 30px 45px;
    border-bottom : 2px solid white;
}
.analysis-row-contaienr:last-child {
    border-bottom : none;
}
.analytics-apq {
    text-align: center;
}