.data-container.pred-main {
    grid-template-rows: 75px 16% 41% 1fr;
    display: grid;
    grid-gap: 2%;
    padding: 20px;
    height: 100vh;
}

.pred-main-heading, .pred-graph-details, .pred-graph-img, .pred-main-summary, .pred-main-downtime {
    background-color: white;
}

.pred-main-heading {
    font-size: 22px;
    color: black;
    padding: 10px;
}

.pred-main-title {
    background-color: white;
    padding: 10px;
}

.pred-main-details {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-style: italic;
    border: 1px solid;
    margin-top: 10px;
}

.pred-main-graph {
    display: grid;
    grid-template-columns: 39% 59%;
    grid-gap: 2%;
}

.pred-main-table {
    display: grid;
    grid-template-columns: 59% 39%;
    grid-gap: 2%;
}

.pred-graph-details .sp-table-container,.pred-main-downtime .sp-table-container{
    color: black;
    width: 80%;
    margin: 10%auto;
}
.pred-graph-details{
    border-radius: 10px;
}

.pred-main .sp-table-container:first-child {
    font-weight: bold;
}
.pred-graph-img img{
    width: 100%;
    height: 60%;
}
.pred-graph-img{
    border-radius: 10px;
}
.pred-main-graph-image{
    padding: 2%;

}
.pred-main-summary {
    padding: 3% 5%;
    border-radius: 10px;
}
.pred-summary-details {
    display: flex;
}
.pred-summary-details .sp-table-container{
    color: black;
    width: 50%;
    margin: 0;
}
.sp-table-value.summary-title{
    color: black;
    text-align: center;
}
.pred-main-downtime{
    border-radius: 10px;
}