.card-tile{
    @include tile-card() ;
}
.card-heading{
    h1{
        @include heading-sub();
        margin:0;
        padding: 0;
    }
}
.data-container{
    
    .line-header{
        background-color: white;
        display: flex;
        align-items: center;
        color: black;
        padding-left: 20px;
        font-size: 22px;
    }
    .line-header-values {
        display: grid;
        grid-template-columns: 27% 27% 27% 1fr;
        grid-gap: 1%;
    }
    .line-view-components {
        display: grid;
        grid-template-columns: 17% 23% 29% 27%;
        grid-gap: 20px;
    }
    .line-view-heading{
    color: black;
      font-size: 18px;
      font-weight: bold;
      padding: 20px 0 10px 20px;
      
    }
    .downtime-details{
        background-color: white;
    }
    .line-assets{
        background-color: white;
    }
    .line-view {
        &.label-container {
            background-color: white;
            color: black;
            padding: 10px 0 20px 20px;
            border-right: 2px solid white;
        }
    }
    &.line-view {
        height: 100vh;
        display: grid;
        grid-template-rows: 75px 45px 165px 40% 1fr;
        grid-gap: 20px ;
        padding: 20px;
    }
}
