.card-tile{
    @include tile-card() ;
}
.tkey-header{
    @include page-heading();
    .page-dropdown-heading {
        color: $font-color;
        font-size: 22px;
        /* float: right; */
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}
.card-heading{
    h1{
        @include heading-sub();
        margin:0;
        padding: 0;
    }
}
.data-container{
    
    .line-header{
        background-color: white;
        display: flex;
        align-items: center;
        color: black;
        padding-left: 20px;
        font-size: 22px;
    }
    .line-header-values {
        display: grid;
        grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
        grid-gap: 1%;
    }
    .line-view-components {
        display: grid;
        grid-template-columns: 17% 23% 29% 27%;
        grid-gap: 20px;
    }
    .line-view-heading{
    color: $font-color;
      font-size: 18px;
      font-weight: bold;
      
      
    }
    .downtime-details{
        background-color: $card-bg-color;
    }
    .line-assets{
        background-color: $card-bg-color;
    }
    .line-view {
        &.label-container {
            background-color: white;
            color: black;
            padding: 10px 0 20px 20px;
            border-right: 2px solid white;
        }
    }
    &.line-view {
        height: calc(100vh - 75px);
        display: grid;
        grid-template-rows:165px 1fr 1fr;
        grid-gap: 20px ;
        padding: 20px;
    }
}
