.bin-component {
    width:260px;
}

.bins {
    background-color: $base-color;
    height: 115px;
    margin-top: 25.5px;
    width: 100%;
}

.bin-heading {
    padding-top: 20px;
    font-size: 16px;
    padding-left: 20px;
}

.time-duration-for-bins {
    font-size: 40px;
    padding-top: 8px;
    padding-left: 20px;

}

